---
layout: splash
author_profile: false
title: Welcome to BoriTech Solutions
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/splash.png
excerpt: We are a small team of developers ready to solve different programming problems focus in geophysics, geology and environmental science.
feature_row:
  - image_path: /assets/images/splashc.png
    alt: "placeholder image 1"
    title: "Personnel"
    excerpt: "We are currently a team that create solutions to your geodesy problems"
    url: "/personnel/"
    btn_label: "Who are we?"
    btn_class: "btn--primary"
  - image_path: /assets/images/splashc.png
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Our Expertice"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/splashc.png
    title: "Contact us"
    excerpt: "This is some sample content that goes here with **Markdown** formatting." 
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

