---
layout: splash
author_profile: false
title: Welcome to BoriTech Solutions
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/splash.png
excerpt: We are a team of scientists ready to solve different problems that focus in geophysics, geology and environmental science.
feature_row:
  - image_path: /assets/images/20180314_1203532.jpg
    alt: "Who are we?"
    title: "Meet the Team"
    excerpt: "We are currently a team that create solutions to your geodesy problems"
    url: "/personnel/"
    btn_label: "Who are we?"
    btn_class: "btn--primary"
  - image_path: /assets/images/20180612_162030.jpg
    alt: "Services"
    title: "Our expertise"
    excerpt: "See what services and solutions we have and we can do for you."
    url: "/about/"
    btn_label: "Solutions and Portfolio"
    btn_class: "btn--primary"
    
  - image_path: /assets/images/20171028_154845.jpg
    title: "Get in touch with us"
    excerpt: "We currently provide services to the US and Puerto Rico" 
    url: "/contact/"
    btn_label: "Contact us, today!"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

