---
layout: splash
author_profile: false
title: Welcome to BoriTech Solutions
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/splash.png
excerpt: We are a team of scientists ready to overcome different challenges using cutting edge technology to deliver and satisfy our client's request.
feature_row:
  - image_path: /assets/images/20180612_162030.jpg
    alt: "Geodesy Services"
    title: "Geodesy"
    excerpt: ""
    url: "/Geodesy/"
    btn_label: "Exploratory Geophysics, GPS, GIS Mapping, and LiDAR"
    btn_class: "btn--primary"

  - image_path:  /assets/images/20171028_154845.jpg 
    alt: "Programming Services"
    title: "Programming"
    url: "/Programming/"
    btn_label: "Web Design, Cloud Computing, Database Programing, and IT"
    btn_class: "btn--primary"
    
  - image_path: /assets/images/20180314_1203532.jpg 
    alt: "Consulting Services"
    title: "Consulting"
    excerpt: "" 
    url: "/Consulting/"
    btn_label: "Environmental Science, Geology, and Geophysics"
    btn_class: "btn--primary"
---
<h1 style="text-align:center; margin-top: 2em; margin-bottom: 0px;">Our Services</h1>
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

