---
layout: single-page
title: Personnel
permalink: /personnel/
---
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td h1 {
  margin: 2em 0 0 0;
}
td h2 {
  margin: 1em 0 0 0;
}
td h3 {
  margin: 5px 0 0 0;
}
</style>
<table style="width:100%">
  <!-- Start Table -->
  
  <!-- Begin Fernando Row -->
  <tr>
    <td width = 30%>
    </td>
    <td>
      <center>
      <h1 style="margin: 10px 0 0 0;">Fernando A. Martínez Torres</h1>
      <h3>President</h3>
      </center>
    </td>
  </tr>
  <tr>
    <td>
    <center>
      {% include figure image_path="/assets/images/Fern.jpg" %}
    </center>
    </td>
    <td>
    <h2>Education:</h2>

    <h3>B.S. Geology and M.S. Geophysics</h3>

    <h2>Work Experience:</h2>
    
    <ul>
      <li>2017-2018 U.S. Environmental Protection Agency (EPA) (Contractor)/ Hurricane Emergency  Response Team (PR)</li>
      <li>2016-2017 U.S. Geological Survey (USGS) (Contractor) / at Menlo Park, CA and Lawrence, New Jersey</li>
      <li>2013-2015 National Oceanic and Atmospheric Administration (NOAA)/ Caribbean Tsunami Warning Program (CTWP)</li>
      <li>2014 & 2015 U.S. Army Core of Engineers (Summer Internship)</li>
      <li>2009 & 2010 UNAVCO (Summer Internship)</li>
    </ul>
    </td>
  </tr>
  
  <!-- Begin Francisco Row -->
  <tr>
    <td width = 20% >
    </td>
    <td>
      <center>
        <h1>Francisco J. Hernández Ramírez</h1>
        <h3>Vice-President</H3>
      </center>
    </td>
  </tr>
  <tr>
    <td>
    <center>
      {% include figure image_path="/assets/images/Fran.png" %}
    </center>
    </td>
        <td>
    <h2>Education:</h2>

    <h3>B.S. Geology and M.S. Geophysics</h3>

    <h2>Work Experience:</h2>
    <ul>
    <li>2012-Present Puerto Rico Strong Motion Program
    <ul>
      <li>Configure various instances of Earthworm and Seiscomp3.</li>
      <li>Set up and program different seismic instrumentation, as well as developing communication modules.</li>
      <li>Set up and configure communications to stations through different channels (VPN, Internet, Radio, etc)</li>
      <li>Develop tools for Windows, Linux, and Mac to monitor station metadata and control Earthworm.</li>
      <li>Develop converting tools for different seismic data formats.</li>
      <li>Installation, configuration and custom compiling of modules for Kinemetrics Accelerometers.</li>
    </ul>
    </li>
    </ul>
    </td>
  </tr>
</table>
