---
layout: single-page
title: Personnel
permalink: /personnel/
---
<style>
.rTable { display: table; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; }

</style>
<div class="rTable">
  <div class="rTableBody">
    <div class="rTableRow">
      <div class="rTableCell" style="width: 25%">
        <h1>Fernando A. Mart&iacute;nez Torres</h1>
        <h3>President</h3>
      </div>
    </div>
  <div class="rTableRow">
    <div class="rTableCell">
      <center>{% include figure image_path="/assets/images/Fern.jpg" %}</center>
    </div>
      <div class="rTableCell" style="float: right">
      <h2>Education:</h2>
      <h3>B.S. Geology and M.S. Geophysics</h3>
      <h2>Work Experience:</h2>
      <ul>
        <li>2017-2018 U.S. Environmental Protection Agency (EPA) (Contractor)/ Hurricane Emergency Response Team (PR)</li>
        <li>2016-2017 U.S. Geological Survey (USGS) (Contractor) / at Menlo Park, CA and Lawrence, New Jersey</li>
        <li>2013-2015 National Oceanic and Atmospheric Administration (NOAA)/ Caribbean Tsunami Warning Program (CTWP)</li>
        <li>2014 &amp; 2015 U.S. Army Core of Engineers (Summer Internship)</li>
        <li>2009 &amp; 2010 UNAVCO (Summer Internship)</li>
      </ul>
    </div>
  </div>
  <div class="rTableRow">
    <div class="rTableCell" style="width: 25%">
      <h1>Francisco J. Hern&aacute;ndez Ram&iacute;rez</h1>
      <h3>Vice-President</h3>
    </div>
  </div>
  <div class="rTableRow">
    <div class="rTableCell">
      <center>{% include figure image_path="/assets/images/Fran.jpg" %}</center>
    </div>
    <div class="rTableCell" >
      <h2>Education:</h2>
      <h3>B.S. Geology and M.S. Geophysics</h3>
      <h2>Work Experience:</h2>
      <ul>
        <li>2012-Present Puerto Rico Strong Motion Program
        <ul>
          <li>Configure various instances of Earthworm and Seiscomp3.</li>
          <li>Set up and program different seismic instrumentation, as well as developing communication modules.</li>
          <li>Set up and configure communications to stations through different channels (VPN, Internet, Radio, etc)</li>
          <li>Develop tools for Windows, Linux, and Mac to monitor station metadata and control Earthworm.</li>
          <li>Develop converting tools for different seismic data formats.</li>
          <li>Installation, configuration and custom compiling of modules for Kinemetrics Accelerometers.</li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
